#container {
width:100%;
height:55px;
}
#rectangle1{
float:left;
width:80%;
height:45px;
background:#2ecc71;
}
#rectangle2{
float:right;
width:20%;
height:45px;
background:#2980b9;
}
#rectangle3{
float:left;
width:33.3%;
height:110px;
background:#e74c3C;
}
#rectangle4{
float:left;
width:33.3%;
height:55px;
background:#e67e22;
}
#rectangle5{
float:left;
width:33.4%;
height:55px;
background:#95a5a6;
}
#rectangle6{
float:left;
width:22.2%;
height:55px;
background:#f39c12;
}
#rectangle7{
float:left;
width:22.2%;
height:55px;
background:#16a085;
}
#rectangle8{
float:left;
width:22.3%;
height:55px;
background:#d35400;
}
#rectangle9{
float:left;
width:100%;
height:55px;
background:#2c3e50;
}
